<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ADD</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Введите название товара" required>
    <input type="text" name="price" placeholder="Введите цену товара" required>
    <button type="submit">Сохранить</button>
</form>
<a href="/products/"> Страница товаров </a>
{% if message %}
    <p>{{ message }}</p>
{% else %}
    <p>Сообщения нету</p>
{% endif %}

</body>
</html>